<! doc html>
    <html>
        <head>
          <title>
            BRYC restaurnat manager
          </title>
        </head>
        <div style = "width :100% ; height :300px ; background-color:#C6D2D7;  border-color: #59B2E6; ">
        </div>
        <body>
          <div id = "options">
            <button type = "button" class = "btn" id ="newbill" >
              New bill
            </button><br><br>
            <button type = "button" class = "btn" id = "query">
              query
            </button><br><br>
            <button class = "btn" id = "menu">menu</button>
          </div>
          <script> require("./../renderer/homewindow.js") </script>
          <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <body>
      </html>
