<! doc html>
  <html>
      <head>
          <title>BRYC management solutions </title>

      </head>
      <body>
        <form id = "additem">
          Item code: <br>
          <input id = "item" type = "number" name = "Itemcode"><br>
          Quantity: <br>
          <input type = "number" name = "Quantity"><br>
          Plate : <br>
          <input type = "text" name = "plate"><br>
          <br>
          <input type = "submit" value="Add" id = "additem.sbutton">
        </form>
        <table style="width:100%" id = "bill">
            <tr>
                <th >Itemname</th>
                <th >Plate</th>
                <th >Quantity</th>
                <th >Price</th>
                <th ></th>
            </tr>
        </table>
        <br>
        <form id = "conatctinfo">
          Name  : <input id = "customername" type = "text" name = "name"><br>
          phone :<input id = "contactno" type = "text" name = "phone"><br>
          <input type = "submit" value="Add" id = "submittodb">
        </form>
        <script>
           require('./../renderer/indexrenderer.js')
        </script>
      </body>
  </html>
